
<div class="container">
<h1>Gpathway List</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Species</th>
            <th>Tissue</th>
            <th>Cell Line</th>
            <th>Binding site</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
</div>
