<%= render 'error', gpathway: @gpathway %>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
        <h2>Edit</h2>
        <%= render 'gpathways/pathwayForm', gpathway: @gpathway %>
        </div>
    </div>
</div>
